@page
@{
}

<h1 class="text-danger">Home Page</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="">
    <input type="file" name="file"/>
    <input type="submit" name="Submit" />
</form>