@model ExifDataModel
@{
}

<h1 class="text-danger">Display all EXIF Data for image</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Index">
    <input type="file" name="file"/>
    <input type="submit" name="Submit" />
</form>
@if(Model.HasData) {
    <h2> Exif Data </h2>
    <ul>
    @foreach(var pair in Model.ExifData) {
        <li><b>@pair.Key</b>:@pair.Value.ToString()</li>
    }
    </ul>
}