@{
    ViewData["Title"] = "Drewgle";
}

<h1 class="text-primary">Drewgle</h1>

<form method="post" enctype="multipart/form-data">
    <input type="text" name="query"/>
    <input type="submit" name="Search" value="Search"/>
</form>