@model string
@{
    ViewData["Title"] = "Drewgle";
}

<h1 class="text">Drewgle</h1>
<p>I think you mistaken me for google</p>
<p><a href="https://google.com/search?q=@Model">Search Google Instead</a></p>
